.text {
    margin: 0px 0px;
    font-family: "montserrat";
    background: linear-gradient(125deg, #F05E1C, #FFC408, #90B44B, #58B2DC, #86C166);
    background-size: 400%;
    animation: bganimation 10s infinite;
}


/* 變色動畫 */

@keyframes bganimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* 背景 */

body {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    background-image: url(img/miko2.jpg);
    background-size: cover;
    background-repeat: no-repeat fixed;
}


/* 點點邊框 */

.hf {
    border: 5px dotted gray;
    padding: 5px 5px;
    text-align: center;
}


/* 讓頁尾始終保持在最底部 */

footer {
    position: fixed;
    bottom: 0
}